@font-face { 
    font-family: Merriweather; 
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Merriweather-Regular.ttf') format("truetype"); 
} 

body { 
    background: lightgray url('../img/paper_fibers.png') repeat; 
    font-family: Merriweather;
    font-size: 16px;
}

p {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: normal;
}

del {
   background-color: lightpink;
   color: black;
   text-decoration: line-through;
   font-weight: lighter;
}

ins {
  background-color: aquamarine;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
