alembic==0.8.7
bleach==1.4.3
dataset==0.6.4
html5lib==0.999999999
Mako==1.0.4
MarkupSafe==0.23
normality==0.2.4
oauthlib==2.0.0
Pillow==3.3.1
python-editor==1.0.1
pytz==2016.6.1
PyYAML==3.12
requests==2.11.1
requests-oauthlib==0.6.2
selenium==2.53.6
simplediff==1.0
six==1.10.0
SQLAlchemy==1.0.15
tweepy==3.5.0
